@import url(sanitize.css);

a {
	text-decoration: none;
	outline: none;
	color: black;
}

a:hover,
a:active {
	text-decoration: none;
	color: black;
}

.paddings {
	padding: 1.5rem;
}

.innerWidth {
	width: 100%;
}

.flexCenter {
	display: flex;
	row-gap: 2rem;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.flexStart {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flexEnd {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.flexColCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
